<header id="header">
	{{link-to '返回玩游戏' 'index' class="back"}}
	<h1>按一秒！抢胡巴！</h1>
	<p>奖励规则</p>
</header>

<section id="aym">	
	<p>只要你大胆尝试</p>
	<p>按出真正的1秒</p>
	<p>将会获得胡巴玩偶一只</p>
	<br>
	<br>
	<br>
	<br>
	<strong>截图发送至：<a class="link-wp" href="http://mp.weixin.qq.com/s?__biz=MzAwMTMxODA4OQ==&mid=214325834&idx=1&sn=6915cac3d224fc10b88dc7eea97f52d6&scene=18#rd">【帝都学生圈】</a></strong>
</section>

<footer class="rule-footer" id="footer">
	<img class="logo" src="assets/images/xsq.jpg" />
	<div class="info"><p>据说93%的人都不敢关注</p><p>因为可以制作专属藏头诗</p></div>
	<a class="btn-subscribe" href="http://mp.weixin.qq.com/s?__biz=MzAwMTMxODA4OQ==&mid=214325834&idx=1&sn=6915cac3d224fc10b88dc7eea97f52d6&scene=18#rd">点击关注</a>
</footer>