<header id="header">
	{{link-to '返回玩游戏' 'index' class="back"}}
	<h1>按一秒！抢胡巴！</h1>
	<p>奖励规则</p>
</header>

<section id="aym">	
	<p>只要你大胆尝试</p>
	<p>按出真正的1秒</p>
	<p>将会获得胡巴玩偶一只</p>
	<br>
	<br>
	<br>
	<br>
	<p>截图PENG友圈分享图片</p>
	<strong>发送至：公众号【学生小圈】</strong>
</section>

<footer class="rule-footer" id="footer">
	<img class="logo" src="assets/images/xsq.png" />
	<div class="info"><p>据说93%的人都不敢关注</p><p>因为可以制作专属藏头诗</p></div>
	<a class="btn-subscribe" href="http://mp.weixin.qq.com/s?__biz=MzAwMzYxNjkzNQ==&mid=209360708&idx=1&sn=e5ad8acb1977ce6b9e896adf182ab357#rd">点击关注</a>
</footer>